.App {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100vh;
}

.calendar{
  border: 2px solid black;
  height: 600px;
  width: 600px;
}

.form{
  width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}